body{
text-align: center;
background-color: blueviolet;
}

.ps {
    height: 205px;
    width: 250px;
background-color: brown;

}

.Ss {
    height: 150px;
    width: 150px;
background-color: rgb(52, 42, 165);
    
}




    